.tools {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item {
    text-decoration: underline;
    color: #ffffff;
    &:hover {
      opacity: 0.6;
    }
  }
}
