.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  &__title {
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
  }
  &__link {
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0 1em;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
    font-size: 0.7em;
    opacity: 0.6;
    &:last-child {
      padding: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.active {
  opacity: 1;
}
